body{
    direction: rtl;
}
body{
    background-color: black;
}
.form-control{
    margin: 0% 0% 0% 20% ;
    position: static;
    width:800px;
    opacity: 0.5;
    color: black;
    font-size: 18px;
}
.navbar-expand-lg{
    background-color: rgb(58, 57, 57);
    color: black;
}
.navbar-toggler-icon{
    background-color: rgb(255, 255, 255);
    border: tomato 1px solid;
    width: 50px;
    height:50px;
    visibility: hidden;

}
.nav-item{
    position: relative;
    left: 50%;
    font-size: 20px;
}
.nav-link{
    text-decoration: none;
    color: ivory;
}
.dropdown-item, .dropdown-menu{
    color: ivory;
    background-color: black;
}
.dropdown-item:hover{
    font-size: 20px;
    background-color: gray;
}
/* en style to nav */
/* style welcomed & intro */
.d-none {
    color: red;
}
.d-block, .w-100{
    width: 400px;
    height: 750px;
}
/* <!-- end style welcomed & intro --> */
/* style footer */
#us{
    color: ivory;
    text-align: center;
}
#contact{
    float: left;
    position: relative;
    left: 15%;
    
}
.comu{
    text-align: left;
    float: left;
    position: relative;
    left: 2%;
    color: white;
}
.us{
    float: right;
    position: relative;
    right: 2%;
}
.info{
    text-align: right;
    float: right;
    position: relative;
    right: 2%;
}
.line{
    position: absolute;
    top: 10%;
}
.facebook{
    background-color: rgb(2, 137, 248);
    border: black 0px solid;
    border-radius: 100%;
}
.whatsapp{
    background-color: green;
    border: black 0px solid;
    border-radius: 100%;
}.linkedin{
    background-color: white;
    border: black 0px solid;
    border-radius: 100%;
}
.youtube{
    background-color: red;
    border: black 0px solid;
    border-radius: 100%;
}
.links a{
    text-decoration: unset;
    color: white;
}
.email{
    background-color: red;
}
.phone{
    background-color: white;
    color: white;
}
.info_img{
    background-color: red;
    animation: bgcolor_us 3s 1s infinite  ;

}
/* end style footer */
/* start style content */
.content_dev{
    margin: 1% 2% 0% 1%;

    color: red;
}
.content_tittle{
    margin: 1% 2% 0% 1%;
    text-align: center;
    color: rgb(94, 221, 143);
    font-weight: bolder;
    text-shadow: 5px 5px 7px  white;
    animation: welcome 2s 2s infinite  ;
}
.content_bold{
    font-weight: 100px;
    margin-right: 1%;
}
.content{
    font-size: 18px;
    margin:10%;
    color: ivory;
}
.content_bold-1{
    font-weight: 100px;
    margin-right: 1%;
}
.content-1{
    font-size: 18px;
    margin:10%;
    color: ivory;
}
.content_dev-1{
    float: left;
    position: relative;
    left: 0%;
    margin: 2%;
    padding: 4%;
    text-align: right;
    border: white 1.5px solid;
    margin-left: 40%;
    box-shadow: 10px 10px 20px rgb(27, 247, 7);
    animation: boxes_shadow 3s 1s infinite  ;
}
.content_dev-2{
    position: relative;
    right: 0%;
    float: right;
    margin: 2%;
    padding: 5%;
    margin-right: 40%;
    border: white 1.5px solid;
    box-shadow: -10px -10px 20px rgb(243, 8, 8);
    animation: boxes_shadow-2 3s 1s infinite  ;

}
footer h1{
    color: red;
    animation: color_us 3s 1s infinite  ;
}
/* a style for small scxreen */
@media screen and (max-width:990px){
.navbar-brand{
    margin-right: 45%;
}
.form-control{
    width: 100%;
}
.nav-item{
    position: static;
    font-size: 20px;
}
.navbar-collapse{
    text-align: center;
}
/* end style for nav bar in small screen */
/* start style for image in small screen */
.d-block, .w-100{
    width: 500px;
    height: 500px;
}
.us{
    float: right;
    position: relative;
    right: 2%;
    margin-top: 50%;
}
.info{
    text-align: right;
    float: right;
    position: relative;
    right: 2%;
}
#contact{
    float: left;
    position: relative;
    left: 46%;
    
}
.comu{
    text-align: left;
    float: left;
    position: relative;
    left: 2%;
}
.dropdown-item, .dropdown-menu{
    text-align: center;
}
.navbar-toggler-icon{
    visibility: visible;
    background-color: rgb(255, 255, 255);
    border: tomato 1px solid;
    width: 50px;
    height:50px;

}
}
@keyframes welcome{
    0%{ 
        margin: 1% 2% 0% 1%;
        color: rgb(94, 221, 143);
        font-weight: bolder;
        text-shadow: 5px 5px 7px  white;
    }
    20%{
        color: red;
    }
    40%{
        color: blue;
    }
    60%{
        color: yellow;
    }
    80%{
        text-align: white;
    }
    100%{
        text-align: black;
    }

}
@keyframes boxes_shadow{
    0%{ 
        box-shadow: 10px 10px 20px rgb(27, 247, 7);
    }
    10%{
        box-shadow: -10px -10px 20px rgb(27, 247, 7);
    }
    20%{
        box-shadow: 10px 10px 20px rgb(27, 247, 7);
    }
    30%{
        box-shadow: -10px -10px 20px rgb(27, 247, 7);
    }
    40%{
        box-shadow: 10px 10px 20px rgb(27, 247, 7); 
    }
    50%{
        box-shadow: -10px -10px 20px rgb(27, 247, 7);
    }
    60%{
        box-shadow: 10px 10px 20px rgb(27, 247, 7); 
    }
    70%{
        box-shadow: -10px -10px 20px rgb(27, 247, 7);
    }
    80%{
        box-shadow: 10px 10px 20px rgb(27, 247, 7); 
    }
    90%{
        box-shadow: -10px -10px 20px rgb(27, 247, 7);
    }
    100%{
        box-shadow: 10px 10px 20px rgb(27, 247, 7); 
    }
}
@keyframes boxes_shadow-2{
    0%{ 
        box-shadow: 10px 10px 20px  rgb(243, 8, 8);
    }
    10%{
        box-shadow: -10px -10px 20px  rgb(243, 8, 8);
    }
    20%{
        box-shadow: 10px 10px 20px  rgb(243, 8, 8);
    }
    30%{
        box-shadow: -10px -10px 20px  rgb(243, 8, 8);
    }
    40%{
        box-shadow: 10px 10px 20px  rgb(243, 8, 8); 
    }
    50%{
        box-shadow: -10px -10px 20px  rgb(243, 8, 8);
    }
    60%{
        box-shadow: 10px 10px 20px  rgb(243, 8, 8); 
    }
    70%{
        box-shadow: -10px -10px 20px  rgb(243, 8, 8);
    }
    80%{
        box-shadow: 10px 10px 20px  rgb(243, 8, 8); 
    }
    90%{
        box-shadow: -10px -10px 20px  rgb(243, 8, 8);
    }
    100%{
        box-shadow: 10px 10px 20px  rgb(243, 8, 8); 
    }
}
@keyframes color_us{
    0%{ 
        color: red;
    }
    10%{
        color: white;
    }
    20%{
        color: red;
    }
    30%{
        color: white;
    }
    40%{
        color: red; 
    }
    50%{
        color: white;
    }
    60%{
        color: red; 
    }
    70%{
        color: white;
    }
    80%{
        color: red; 
    }
    90%{
        color: white;
    }
    100%{
        color: red; 
    }
}
@keyframes bgcolor_us{
    0%{ 
        background-color: red;
    }
    10%{
        background-color: white;
    }
    20%{
        background-color: red;
    }
    30%{
        background-color: white;
    }
    40%{
        background-color: red; 
    }
    50%{
        background-color: white;
    }
    60%{
        background-color: red; 
    }
    70%{
        background-color: white;
    }
    80%{
        background-color: red; 
    }
    90%{
        background-color: white;
    }
    100%{
        background-color: red; 
    }
}